@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

img {
    width: 100%;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 16px;
}

li {
    list-style-type: none;
}


/* 

NAVBAR ↓

*/


.nav {
    height: 100px;
    width: 100%;
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.logo__pic {
    height: 40px;
}

.nav__logo--name {
    color: black;
}

.nav__link--list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__link--anchor {
    text-decoration: none;
    color: black;
    margin: 0 24px;
    font-weight: 500;
}


.nav__link--anchor-primary {
    background-color: #6415ff;
    text-decoration: none;
    list-style: none;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
}

.nav__link--anchor-primary:hover {
    background-color: darkslateblue;
}

.nav__link--anchor:hover {
    border-bottom: 3px solid #6415ff;
    padding-bottom: 4px;
}


.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/


header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row__left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.section__templates {
    font-size: 36px;
    max-width: 450px;
    padding: 20px;
}

.header__description {
    padding: 20px;
}

.header__email {
    padding: 0 20px 20px 20px;
    position: relative;
    display: block;
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 9999px;
    padding: 8px;
}

.header__email--input {
    width: 100%;
    max-width: 448px;
    padding: 12px 140px 12px 16px;
    border: none;
    outline: none;
    border-radius: 9999px;
}

.text--purple {
    color: #6415ff;
}

form {
    width: 100%;
    max-width: 600px;
    display: flex;
    border-radius: 50px;
}

.section__button {
    position: absolute;
    right: 8px;
    top: 8px;
    bottom: 8px;
    background-color: #6415ff;
    color: white;
    padding: 0px 20px;
    border-radius: 9999px;
    border: none;
}

.section__button:hover {
    background-color: darkslateblue;
    cursor: pointer;
}

.header__customers {
    padding: 20px;
}

.section__customers {
    font-size: 12px;
    color: lightslategray;
}

.customer__strip {
    max-width: 300px;
    opacity: 65%;
}

.section__image {
    max-width: 800px;
}


/* 

FEATURES ↓

*/


#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__features {
    padding: 20px;
}

.section__features--header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__header {
    padding: 20px;
}

.section__para {
    padding: 20px;
    color: grey;
    max-width: 600px;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
}

.features__list--items {
    width: calc(100%/3);
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding: 32px 24px;
}

.feature__icon {
    width: 40px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__para {
    color: grey;
    margin-top: 8px;
}

/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__quality {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 12px;
    max-width: 600px;
}

.quality__features {
    padding: 0px;
}

.quality__header {
    padding: 0px;
}

.quality__para {
    padding: 0px;
    color: grey;
}

.quality__btn--primary {
    background-color: #6415ff;
    color: white;
    padding: 16px 30px;
    border-radius: 50px;
    border: none;
    align-self: flex-start;
    margin-top: 16px;
}

.quality__btn--primary:hover {
    background-color: darkslateblue;
    cursor: pointer;
}

.quality__image {
    max-width: 600px;
}

.quality__img--wrapper {
    display: flex;
    border: solid #e5e7eb;
    position: relative;
    overflow: visible;
    z-index: 0;
}

.quality__img--wrapper::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    right: -24px;
    bottom: -24px;
    background-image: radial-gradient(#6415ff 2px, transparent 2px);
    background-size: 12px 12px;
    opacity: 0.8;
    z-index: -1;
    pointer-events: none;
}


/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__image {
    position: relative;
    display: inline-block;
}

.steps__image::after {
    content: "";
    position: absolute;
    left: 58%;
    transform: translateX(-50%);
    bottom: -52px;
    width: 228px;
    height: 110px;
    z-index: -1;
    background-image: radial-gradient(rgba (100, 21, 255, 0.4) 2.2px, transparent 2.2px);
    background-size: 14px 14px;
}

.steps__image img {
    position: relative;
    z-index: 1;
}

.section__steps {
    padding: 20px;
}

.steps__title {
    display: flex;
    gap: 10px;
}

.steps__list {
    display: flex;
    align-items: start;
}

.steps__numbers {
    padding: 20px;
}

.steps__numbers--one, .steps__numbers--two, .steps__numbers--three {
    color: lightgrey;
}

.steps__instructions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}


/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__values {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 12px;
    max-width: 600px;
}

.values__features {
    padding: 0px;
}

.values__header {
    padding: 0px;
}

.values__para {
    color: gray;
}

.values__details {
    display: flex;
    padding: 0px;
}

.values__affordable {
    display: flex;
    flex-direction: column;
}

.values__professional {
    display: flex;
    flex-direction: column;
}

.values__btn--primary {
    background-color: #6415ff;
    color: white;
    font-weight: 500;
    padding: 16px 32px;
    border-radius: 50px;
    border: none;
}

.values__btn--primary:hover {
    background-color: darkslateblue;
    cursor: pointer;
}

.affordable__img--wrapper {
    display: flex;
    background-color: #9ae6b4;
    padding: 8px;
    border-radius: 500px;
    width: 36px;
    height: 36px;
}

.professional__img--wrapper {
    display: flex;
    background-color: #feb2b2;
    padding: 8px;
    border-radius: 500px;
    width: 36px;
    height: 36px;
}

.values__img {
    max-height: 100%;
    max-width: 600px;
}


/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pricing__features {
    padding: 20px;
}

.pricing__header {
    padding: 20px;
}

.pricing__para {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: grey;
}

.section__pricing--header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__pricing--para {
    color: grey;
}

.price__options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
}

.price__stripe--personal {
    position: absolute;
    width: 100%;
    height: 8px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%,rgb(129, 230, 217) 100%);
}

.price__stripe--enterprise {
    position: absolute;
    width: 100%;
    height: 8px;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.price__personal--wrapper, .price__enterprise--wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    margin-right: 20px;
    position: relative;
}

.price__business--wrapper {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    margin-right: 20px;
}

.price__name {
    font-size: 16px;
    font-weight: bold;
}

.price__name--business {
    color: white;
}

.price__cost {
    font-size: 32px;
    font-weight: bold;
}

.price__cost--business {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.price__terms {
    font-size: 16px;
}

.price__terms--personal, .price__terms--enterprise {
    color: grey;
}

.price__terms--business {
    color: white;
}

.price__customer {
    font-weight: bold;
    font-size: 20px;
}

.price__personal--middle {
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.price__personal--bottom, .price__business--bottom, .price__enterprise--bottom {
    padding: 32px 96px;
}

.price__business--middle {
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.price__enterprise--middle {
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.price__customer--business {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.price__personal--top, .price__personal--middle, .price__business--top, .price__business--middle, .price__enterprise--top, .price__enterprise--middle 
{
    padding: 40px;
    text-align: center;
}

.price__features--personal, .price__features--enterprise {
    color: grey;
    margin-top: 20px;
}

.price__features--business {
    color: white;
    margin-top: 20px;
}

.price__button {
    padding: 16px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.price__button--personal {
    background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
    color: white;
    font-weight: bold;
}

.price__button--business {
    background-color: white;
    color: #6415ff;
    font-weight: bold;
}

.price__button--enterprise {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    color: white;
    font-weight: bold;
}

.price__button--personal:hover {
    transform: translateY(-10%);
    transition: all 300ms ease;
    box-shadow: 0 4px 2px rgb(0, 0, 0, 0.3);
}

.price__button--business:hover {
    transform: translateY(-10%);
    transition: all 300ms ease;
    box-shadow: 0 4px 2px rgb(0, 0, 0, 0.3);
}

.price__button--enterprise:hover {
    transform: translateY(-10%);
    transition: all 300ms ease;
    box-shadow: 0 4px 2px rgb(0, 0, 0, 0.3);
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.testimonials__img {
    max-width: 600px;
    width: 60%;
}

.section__testimonials {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.section__title {
    padding: 20px;
}

.testimonials__header {
    padding: 20px;
}

.testimonials__para {
    padding: 20px;
    color: grey;
}

.testimonials__top, .testimonials__middle, .testimonials__bottom {
    padding: 20px;
}

.testimonial__stars {
    padding: 20px;
}

.fa-star {
    color: #f6ad55;
}

.testimonials__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.testimonial__title {
    padding: 20px;
}

.testimonial__para {
    padding: 20px;
}

.testimonial__profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.testimonial__details {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.testimonial__profile--title {
    color: grey;
}

.testimonials__pic {
    max-width: 100px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right-width: 1px;
    width: 0.5px;
    background-color: #edf2f7;
    height: 20px;
}

.testimonial__buttons {
    display: flex;
    justify-content: center;
}

.testimonial__buttons--left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms ease;
}

.testimonial__buttons--right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms ease;
}

a {
    text-decoration: none;
}

.fa-arrow-left {
    color: #6415ff;
}

.fa-arrow-right {
    color: #6415ff;
}

/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


.container__start--wrapper {
    display: flex;
    padding: 100px;
    max-width: 1200px;
    background-color: #6415ff;
    border-radius: 10px;
}
.section__start {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.start__title {
    max-width: 600px;
    font-size: 32px;
    color: white;
    font-weight: bold;
}

.start__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.start__buttons--start {
    padding: 16px 32px;
    margin-right: 32px;
    border-radius: 50px;
    border: none;
    background-color: #f56565;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.start__buttons--start:hover {
    background: orangered;
    cursor: pointer;
}

.start__buttons--contact {
    padding: 16px 32px;
    border-radius: 50px;
    border: none;
    background-color: #6415ff;
    border: 1px solid #e5e7eb;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.start__buttons--contact:hover {
    background-color: white;
    color: #6415ff;
    cursor: pointer;
}

/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__row {
    display: flex;
    flex-direction: column;
}

.footer__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.footer__column {
    display: flex;
    flex-direction: column;
}

.footer__title {
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
}

.footer__column--feature {
    margin-top: 24px;
    color: #f7fafc;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.footer__column--feature:hover {
    text-decoration: underline 2px;
    transition: all 300ms ease;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
    border-width: 2px solid lightgray;
}

.footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__name {
    display: flex;
    color: white;
    font-weight: bold;
    font-size: large;
    margin-left: 8px;
}

.footer__logo--wrapper {
    display: flex;
    max-width: 40px;
}

.footer__copyright {
    display: flex;
    color: white;
}

.footer__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socials__wrapper--facebook, .socials__wrapper--twitter, .socials__wrapper--youtube {
    padding: 8px;
    border-radius: 500px;
    border: none;
    background-color: white;
    margin-left: 10px;
}

.socials__wrapper--facebook:hover {
    background-color: lightgray;
}

.socials__wrapper--twitter:hover {
    background-color: lightgray;
}

.socials__wrapper--youtube:hover {
    background-color: lightgray;
}

/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 728px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }

    .nav__link--list {
        display: none;
    }

    .section__features--header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .features__list {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}